{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block body %}
	{% include "header.html.twig" %}
	<div class="container-fluid my-5">
		<div class="row">
			{% for numero in numeros %}
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 shadow bg-white rounded mb-2 shadow p-3 mb-5 bg-white rounded">
					<div class="card">
						<div class="card-header text-muted">01/01/2021 - 17:00</div>
						<div class="card-body text-center">
							<div class="row">
								<div class="col-3 d-flex justify-content-center my-2">
									<div class="d-flex rounded-circle player justify-content-center align-items-center">
										<i class="fas fa-plus-circle"></i>
									</div>
								</div>
								<div class="col-3 d-flex justify-content-center border-right my-2">
									<div class="d-flex rounded-circle player justify-content-center align-items-center">
										<i class="fas fa-plus-circle"></i>
									</div>
								</div>
								<div class="col-3 d-flex justify-content-center my-2">
									<div class="rounded-circle player bg-success"></div>
								</div>
								<div class="col-3 d-flex justify-content-center my-2">
									<div class="rounded-circle player bg-success"></div>
								</div>
							</div>
						</div>
						<div class="card-footer text-muted text-left p-0">
							<div class="row mx-0">
								<div class="col-10 pl-4">Calle Mario Moreno Cantinflas 60</div>
								<div class="col-2 text-center border-left">Nivel A</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
